.filter {
  border-top: 1px solid #ccc;
  padding-top: 16px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.filterGroup {
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.accordionButton {
  width: 100%;
  text-align: left;
  padding: 10px 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triggerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.triggerContentLabel {
  flex-grow: 1;
}

.iconChevron {
  position: relative;
  width: 10px;
  height: 10px;
  transition: transform 0.3s ease;
}

.iconChevron::before,
.iconChevron::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
}

.iconChevron::before {
  top: 0;
  transform: rotate(45deg);
}

.iconChevron::after {
  top: 0;
  transform: rotate(-45deg);
  right: -6px;
}

.iconChevron.open::before {
  transform: rotate(-45deg);
}

.iconChevron.open::after {
  transform: rotate(45deg);
}

.accordionContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.accordionContent.open {
  max-height: 500px;
  /* Adjust this value based on your content */
  opacity: 1;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.pseudoCheckbox {
  width: 20px;
  height: 20px;
  vertical-align: top;
  border: solid 1px #707072;
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.pseudoCheckbox.isChecked {
  border-color: #111111;
  background: #111111;
}

.iconCheckmark.isToggled {
  display: block;
}

.iconCheckmark:not(.isToggled) {
  display: none;
}

.checkboxLabel {
  cursor: pointer;
}

.iconCheckmark {
  color: #fff;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 13px;
  height: 13px;
}

.iconCheckmark::before,
.iconCheckmark::after {
  content: '';
  height: 2px;
  background-color: currentcolor;
  display: block;
  position: absolute;
  transform-origin: left center;
}

.iconCheckmark::before {
  width: 6px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  top: 5px;
  left: 1px;
  transform: rotate(45deg) scale(0, 1);
  animation-fill-mode: forwards;
}

.iconCheckmark::after {
  width: 13px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  top: 10px;
  left: 4px;
  transform: rotate(-45deg) scale(0, 1);
  animation-fill-mode: forwards;
}

.iconCheckmark.isToggled::before {
  animation: checkmark-before 100ms forwards;
}

.iconCheckmark.isToggled::after {
  animation: checkmark-after 100ms 50ms forwards;
}

@keyframes checkmark-before {
  0% {
    transform: rotate(45deg) scale(0, 1);
  }

  100% {
    transform: rotate(45deg) scale(1, 1);
  }
}

@keyframes checkmark-after {
  0% {
    transform: rotate(-45deg) scale(0, 1);
  }

  100% {
    transform: rotate(-45deg) scale(1, 1);
  }
}
.filterContainer {
  animation: animation-my4jl 300ms forwards;
  width: 300px;
  margin-right: 25px;
}

.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

.filterMove {
  animation: animation-my5jl 300ms forwards;
}

.mainContent {
  transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
  width: 100%;
  padding: 0 40px;
}

@keyframes animation-my4jl {
  0% {
    margin-left: -350px;
    visibility: visible;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes animation-my5jl {
  0% {
    margin-left: 0;
    visibility: visible;
  }

  100% {
    margin-left: -350px;
  }
}

.filterOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filterContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}

.expanded {
  width: calc(100% - 300px);
}

.applyButton {
  display: none;
}

@media (max-width: 950px) {
  .filterContainer {
    display: none;
  }

  .applyButton {
    display: block;
  }
  .expanded {
    width: 100%;
  }
  .mainContent {
    padding: 0 20px;
  }
}
