.thumbnailContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.thumbnail {
    width: 64px;
    /* Set the width of the thumbnail */
    height: 64px;
    /* Set the height of the thumbnail */
    overflow: hidden;
    border: 1px solid #e5e7eb;
    /* Add a border to the thumbnail */
    border-radius: 4px;
    /* Add border radius to the thumbnail */
    margin-right: 0.5rem;
    /* Add margin between thumbnails */
}

.thumbnail:last-child {
    margin-right: 0;
    /* Remove margin from the last thumbnail */
}

.productImage {
    --tw-aspect-h: 1.5;
}